
.header {
  background-color: #121416;
  border-bottom: solid 5px white;
}

.title {
  font-size: 18vw;
  line-height: 16vw;
  text-align: center;
  color: #fdf2d4;
}

.profile-pic {
  margin: 5vw;
}

.portfolio-container {
  background-color: #bbb9c7;
  padding: 15px;
}

.portfolio-img {
  margin-top: 15px;
}

.icon-container i {
  font-size: 13vw;
  text-align: center;
  color: #fdf2d4;
}

.icon-container {
  border-top: solid 5px white;
  background-color: #121416;
}