html, body {
  height: 100%;
  font: 'Helvetica';
}

.header {
  background-color: #121416;
}

.title {
  font-size: 18vw;
  line-height: 16vw;
  text-align: center;
  color: #fdf2d4;
}

.profile-pic {
  /*margin: 5vw;*/
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.about-me {
  text-align: center;
  font-size: 6vw;
  margin: 2vw;
}

.portfolio-item {
  padding: 45px 21px;
  text-align: center;
}

.portfolio-img {
  margin: 2vw auto;
}

.portfolio-item i {
  color: black;
}

.portfolio-description-container {
  margin: 0 50px;
}

.portfolio-description-container p {
  color: gray;
  font-size: 14px;
  line-height: 24px;
}

.portfolio-description-header {
  color: black;
  margin-top: 45px;
}

.portfolio-description-header iframe {
  margin-top: 10px;
}

.btn-sm {
  margin: 2px;
}

.btn:hover {
  cursor: default !important;
}

.btn-no-hover:hover {
  background-color: #0275d8 !important;
  color: #fff !important;
  border-color: #0275d8 !important;
}

.icon-container i {
  font-size: 13vw;
  text-align: center;
  color: #fdf2d4;
}

.icon-container {
  background-color: #121416;
  padding: 3vw;
}

.breakline {
  padding: 80px;
  margin: 2vw;
}

@media (min-width: 768px) {
  .profile-container {
    /*padding: 15px;*/
  }

  .profile-pic {
    margin: 1vw;
    width: 60%;
    float: right;
  }

  .about-me {
    font-size: 2vw;
    color: black;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    padding: 80px;
    margin-top: 0px;
  }

  .portfolio-item {
    text-align: justify;
  }

  .portfolio-img {
    margin: 0 auto;
  }

  .portfolio-img .img-fluid {
    margin: 0 auto;
  }

  .portfolio-description-header {
    margin-top: 0;
  }

  .portfolio-description {
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .portfolio-descrption-text {
    margin-bottom: 0px;
  }

  .title {
    font-size: 12vw;
    text-align: left;
    line-height: 10vw;
    margin-top: 1vw;
  }

  .breakline {
    border-top: solid 2px rgba(0, 0, 0, 0.2);
  }

  .icon-container {
    padding: 2vw;
  }

  .icon-container i {
    font-size: 4vw;
    margin-right: 2vw;
  }
}