body {
  margin: 0px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.top-color {
  display: flex;
  justify-content: center;
  flex: 1 100%;
  background-color: #8DD3F7;
  height: 400px;
  border-bottom: solid gray 2px;
}

.title {
  font-size: 120px;
  font-family: "Bodoni";
  color: #FCC513;
  text-align: center;
  margin: -10px;
}

.img-container {
  display: flex;
  justify-content: center;
  margin: -115px;
}

.portfolio-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px;
  margin-top: 100px;
}

.portfolio-image {
  height: 300px;
  padding: 30px;
}

.icon-container {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  background-color: #8DD3F7;
  border-top: solid gray 2px;
  height: 150px;
}

.fa {
  padding: 35px;
}

.profile-pic {
  border-radius: 50px;
}

.bottom-color {
  flex: 1 100%;
}

a {
  color: #FCC513;
}